server:
  port: 9002
  shutdown: graceful
  netty:
    connection-timeout: 2s
    idle-timeout: 15s
spring:
  application:
    name: order-service
  lifecycle:
    timeout-per-shutdown-phase: 15s
  config:
    import: "optional:configserver:"
  cloud:
    config:
      uri: http://localhost:8888
      request-connect-timeout: 5000 #Timeout on waiting to connect to the config server (ms)
      request-read-timeout: 5000 #Timeout on waiting to read configuration data from the config server (ms)
      fail-fast: false #Makes a failure to connect to the config server fatal
      retry:
        max-attempts: 6 #Maximum number of attempts
        initial-interval: 1000 #Initial retry interval for backoff (ms)
        max-interval: 2000 #Maximum retry interval for backoff (ms)
        multiplier: 1.1 #Multiplier to compute the next interval
    function:
      definition: dispatchOrder
    stream:
      bindings:
        dispatchOrder-in-0:
          destination: order-dispatched
          group: { spring.application.name }
        acceptOrder-out-0:
          destination: order-accepted
    rabbit:
      bindings:
        acceptOrder-out-0:
          producer:
            transacted: true
  rabbitmq:
    host: localhost
    port: 5672
    username: user
    password: password
    connection-timeout: 5s
  r2dbc:
    username: user
    password: password
    url: r2dbc:postgresql://localhost:5432/polardb_order
    pool:
      max-create-connection-time: 2s
      initial-size: 5
      max-size: 10
  flyway:
    user: ${spring.r2dbc.username}
    password: ${spring.r2dbc.password}
    url: jdbc:postgresql://localhost:5432/polardb_order
polar:
  catalog-service-uri: "http://localhost:9001"
orders:
  greeting: Welcome to the orders system of bookshop!
management:
  endpoints:
    web:
      exposure:
        include: refresh, health #Exposes the /actuator/refresh endpoint through HTTP
  endpoint:
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
      group:
        readiness:
          include: readinessState,redis,rabbitmq